<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ion-Components </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Enter your name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Enter your email id</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Male</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Female</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-list>
            <ion-item>
              <ion-select
                placeholder="Select all fruits that apply"
                [multiple]="true"
              >
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-button (click)="presentActionSheet()" expand="full" shape="round"
            >Click to open action</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
